*{
    list-style-type: none;
}
.head{
    text-align: center;
    font-style: italic;
    color: darkmagenta;
}
.mainpart{
    margin-left: 1%;
}
.questions{
    font-size:x-large;
    font-style:normal
}
.options{
    margin-left: 1%;
    font-size: large;
}
.submission{
margin-top: 18%;
margin-left: 32%;
margin-right: 35%;
border: 10px rgb(51, 7, 95) solid;
border-radius: 10%;
padding: 3%;

}
.thank{
    font-size: xx-large;
    color: rgb(66, 2, 86);
    padding-left: 8%;
    padding-top: 2%;
  
}
.total{
    font-size: x-large;
    padding-left: 15%;
    padding-right: 5%;
}


